nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
    padding-top: 0px;
    padding-right: 2em;
    padding-bottom: 0px;
    padding-left: 2em;
    background-color: #00A087;
    color: #e8fdff;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    margin-right: 5px;
}

#nav-bar .header {
    float: left;
    position: absolute;
    top: 0;
    margin-left: 5px;
    text-align: center;
    bottom: 0;
    font-size: 200%;
    line-height: 2.5em;
}

button.nav-button {
    float: right;
    height: 49px;
    width: 90px;
    margin-top: 16px;
    border-radius: 5px;
    color: #00A087;
    border: 1px solid darkslategray;
    opacity: .9;
}

button.nav-button:hover {
    opacity: 1;
    color: darkslategrey;
}