
.new-tweet {
    padding: 8px;
    border-radius: 5px;
    background-color: #eee;
}

.flexer {
    display: flex;
    justify-content: space-between;
}

.container h2 {
    font-weight: bold;
}

.container hr {
    margin: 1px 0px 8px 0px;  
}

.container textarea {
    display: block;
    width: 100%;
    padding: 4px;
}

.container input {
    margin-top: 2px;
    background: linear-gradient(#eee, #FFFFFF);
}

.container .counter {
    margin-top: 9px;
    font-size: 65%;
}

.over-limit {
    color: red;
}